<div class="row">
  
  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">¡Bienvenido a Farmatica - TESTTTTTTT</span> (Famarticav 2)</h1>

    <p class="lead" jhiTranslate="home.subtitle">Esta es su página de inicio</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >Está conectado como "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix">Si desea </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">iniciar sesión</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix"
          >, puede intentar con las cuentas predeterminadas:<br />- Administrador (usuario="admin" y contraseña="admin") <br />- Usuario
          (usuario="user" y contraseña="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">¿Aún no tienes una cuenta?</span>&nbsp;
        <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Crea una cuenta</a>
      </div>
    </div>

  
   
  </div>
</div>
